<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <div class="uk-container uk-container-xsmall">
        <h1>Selamat Datang! <%= nama %></h1>
        <a href="/logout">Logout</a>
        <hr>
        <div class="uk-child-width-1-1@s uk-margin" uk-grid>
            <div>
                <ul class="uk-tab-right" uk-tab>
                    <li class="uk-active"><a href="#">Encrypt Message</a></li>
                </ul>
                
                <ul class="uk-switcher uk-margin">
                    <li>
                        <div id="pesan">
                            <% if (status == 'Mahasiswa' ) { %>
                                <form action="/pesan/store" method="post">
                                    <input type="hidden" name="pengirim" value="<%= username %>">
                                    <select class="uk-select uk-margin" name="penerima" id="penerima">
                                        <option value="" selected disabled>Pilih Penerima</option>
                                        <% for (let i = 0; i < calonPenerima.length; i++) { %>
                                            <option value="<%= calonPenerima[i].username %>"><%= calonPenerima[i].nama %></option>
                                        <% } %>
                                    </select>
                                    <textarea id="keluhkesah" name="pesan" class="uk-margin"></textarea>
                                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin" type="submit">Simpan</button>
                                </form>

                                <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
                                    <% for (let i = 0; i < pesanDikirim.length; i++) { %>
                                        <div>
                                            <div class="uk-card uk-card-default uk-card-body">
                                                <h3 class="uk-card-title">Pesan Untuk: <%= pesanDikirim[i].penerima %></h3>
                                                <div id="pesanDikirim">
                                                    <%= pesanDikirim[i].pesan %>
                                                </div>
                                                <h3>Balasan:</h3>
                                                <div id="balasan">
                                                    <%= pesanDikirim[i].balasan %>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            <% }else if (status == 'Admin'){ %>
                                <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
                                    <% for (let i = 0; i < semuaPesan.length; i++) { %>
                                        <div>
                                            <div class="uk-card uk-card-default uk-card-body">
                                                <h3 class="uk-card-title">Dari: <%= semuaPesan[i].pengirim %></h3>
                                                <p><%= semuaPesan[i].pesan %></p>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            <% }else{ %>
                                <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
                                    <% for (let i = 0; i < pesanDiterima.length; i++) { %>
                                        <div>
                                            <div class="uk-card uk-card-default uk-card-body">
                                                <h3 class="uk-card-title">Dari: <%= pesanDiterima[i].pengirim %></h3>
                                                <p><%= pesanDiterima[i].pesan %></p>
                                                <a href="#modal-balas-<%= pesanDiterima[i].id_pesan %>" onclick="openModal('#modal-balas-<%= pesanDiterima[i].id_pesan %>')" class="uk-icon-link" uk-icon="comment"></a>
                                                <div id="modal-balas-<%= pesanDiterima[i].id_pesan %>" class="uk-flex-top" uk-modal>
                                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                                
                                                        <form action="/pesan/balasan" method="post">
                                                            <h4>Balas Pesan</h4>
                                                            <input type="hidden" name="id_pesan" value="<%= pesanDiterima[i].id_pesan %>">
                                                            <textarea class="uk-textarea" name="balasan"></textarea>
                                                            <button id="buttonSubmit" class="uk-button uk-button-primary uk-width-1-1 uk-margin">SUBMIT</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>       
    </div>
    <script>
        tinymce.init({
            selector: '#keluhkesah'
        });

        const openModal = (modalId) => {
            console.log(modalId)
            UIkit.modal(modalId).show()
        }
    </script>
</body>
</html>